.business-form {
    display: grid;
    grid-template-columns: 2;
}

.business-container {
    padding-left: 5%;
    margin-top: 15%;
    border-radius: 10px;
    z-index: 1;
    width: 50%;
    grid-column: 2/span 1;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.business-form h1 {
    text-align: center;
}

.email-input-label, .username-input-label, .password-input-label, .repeat-password-input-label {
    display: block;
}

.fname-input-label, .lname-input-label {
    display: block;
}

.input-container input{
    padding: 15px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    background:white;
}

.btn-container {
    text-align: center;
}

.submit-btn{
    width: 40%;
    text-justify: center;
    text-align: center;
    color: white;
    background-color: var(--primary-clr);
    border-radius: 5px;
    transition: .15s ease-in-out;
}

.submit-btn-:hover{
    opacity: .75;
}