.signup-container {
    margin: 200px auto;
    border-radius: 7.5px;
    width: 800px;
    box-shadow: var(--elevation-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container-header{
    padding-top: 20px;
    font-size: var(--h1);
    font-family: var(--ff-primary);
    text-align: center;
    font-weight: 600;
}

.signup-fields-container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 2;
    /* grid-template-areas: 'name    phone-num'
                            'address animals;*/
    grid-template-rows: 2;
    gap: 50px;
    justify-content: center;
}

.shelter-name-input-container{
    grid-area: 1/ 1/ span 1;
}

.shelter-phone-number-input-container{
    grid-area: 1/ 2/ span 1;
}

.shelter-address-input-container{
    grid-area: 2/ 1/ span 1;
}


.shelter-animal-types-input-container{
    grid-area: 2/ 2/ span 1;
}


.shelter-name-input-label, .shelter-phone-number-input-label, .shelter-address-input-label, .shelter-animal-types-input-label {
    font-family: var(--ff-primary);
    font-size:var(--h3);
    display: block;
}


.shelter-name-input-container input,
.shelter-phone-number-input-container input,
.shelter-address-input-container input
{
    padding: 15px;
    display: inline-block;
    border: 1px solid var(--inactive-txt-clr);
    border-radius: 7.5px;
}

.checkbox-container{
    padding: 25px 0 15px 0;
}

.btn-container {
    text-align: center;
    padding: 0 0 30px 0;
}

.submit-btn{
    width: 200px;
    padding:10px 0;
    text-justify: center;
    text-align: center;
    color: white;
    background-color: var(--primary-clr);
    font-size: var(--h3);
    font-family: var(--ff-primary);
    font-weight: 600;

    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    
    cursor: pointer;
}

.terms-button,
.policy-button{
    border: none;
    background-color: transparent;
    color:var(--primary-txt-clr);
    text-decoration: underline;
    cursor:pointer;
}



@media all and (max-width: 1024px){
    .sign-up-container {
        width: 50%;
    }
}

@media all and (max-width: 414px){
    .sign-up-container{
        width: 90%;
    }
}