.shelter-form {
    display: grid;
    grid-template-columns: 2;
}

.shelter-container {
    padding-left: 3%;
    margin-top: 15%;
    border-radius: 10px;
    z-index: 1;
    width: 50%;
    grid-column: 2/span 1;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.shelter-form h1 {
    text-align: center;
}

.shelter-name-input-label, .shelter-address-input-label, .shelter-categories-input-label, .shelter-phone-number-input-label {
    display: block;
}

.input-container input {
    padding: 15px;
    display: inline-block;
    border: 1px solid;
    border-color: var(--inactive-txt-clr);
    border-radius: 5px;
    background:white;
    width: 92%;
}

.btn-container {
    text-align: center;
}

.checkbox-container {
    padding-top: 10%;
    text-align: center;
}

.submit-btn{
    width: 40%;
    text-justify: center;
    text-align: center;
    color: white;
    background-color: var(--primary-clr);
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}