input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

h1 {
    text-align: center;
}

/* button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 200px;
} */

button:hover {
    opacity: 1;
}

.btn-container {
    text-align: center;
}

.container {
    padding: 16px;
}

p {
    text-align: center;
}