.follower-feed-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.follower-feed-header-profile {
    text-align: left;
    margin: 10px 0 10px 40px;
}

.follower-feed-header-profile:hover{
    opacity: .75;
}

.follower-feed-header-profile-pic {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-right: 15px;
}

.follower-feed-header-profile-name{
    display: block;
    grid-area: 1/ 2/ span 1 / span 1;
    font-size: var(--h2);
    font-family: var(--ff-primary);
    font-weight: 500;
}

.follower-feed-header{
    margin: 5px;
    font-size: var(--h0);
    font-family: var(--ff-tertiary);
    font-weight: 600;
}

.follower-feed-post{
    display: grid;
    
    padding: 15px;
    width: 100%;
    /* grid-template-areas:"follower-feed-post-prof_pic follower-feed-post-name follower-feed-post-like"
                        "follower-feed-post-prof_pic            .            follower-feed-post-likes"
                        "follower-feed-post-prof-pic follower-feed-post-timestamp follower-feed-post-comments"
                        "follower-feed-post-body follower-feed-post-body follower-feed-post-body"
                        "follower-feed-post-pic  follower-feed-post-pic follower-feed-post-pic"; */
    grid-template-columns: 100px auto 34px;
    grid-template-rows: repeat(3,34px) auto;
    box-shadow: var(--elevation-2);
    border-radius: 7.5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.follower-feed-post-prof_pic{
    width:100px;
    height:100px;
    object-fit: cover;
    grid-area: 1/ 1/ span 3 / span 1;
    border-radius: 7.5px;
}

.follower-feed-post-name{
    margin-left: 15px;
    grid-area: 1/ 2/ span 1 / span 1;
    font-size: var(--h2);
    font-family: var(--ff-primary);
    font-weight: 600;
    transition: .15s ease-in-out;
}

.follower-feed-post-name:hover{
    opacity: .75;
}

.follower-feed-post-timestamp{
    margin-left: 15px;
    grid-area: 3/ 2 /span 1 / span 1;
    font-family: var(--ff-primary);
}

.follower-feed-post-likes{
    grid-area: 2 / 3 / span 1 / span 1;
    font-family: var(--ff-primary);
    text-align: center;
    line-height: 34px;
}

.follower-feed-post-like{
    border:none;
    background: url('../../images/Third\ Party\ Icons/icons8-thumbs-up-48.png') no-repeat;
    background-size: 34px 34px;
    grid-area: 1 / 3 / span 1 / span 1;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.follower-feed-post-flags{
    grid-area: 2 / 3 / span 1 / span 1;
    font-family: var(--ff-primary);
    text-align: center;
    line-height: 34px;
}

.follower-feed-post-flag{
    border:none;
    background: url('../../images/Third\ Party\ Icons/icons8-empty-flag.png') no-repeat;
    background-size: 34px 34px;
    grid-area: 1 / 3 / span 1 / span 1;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.follower-feed-post-like:hover{
    opacity: .75;
}

/* .follower-feed-post-comments{
    grid-area: 3 /  3 / span 1 / span 1;
} */

.follower-feed-post-body{
    margin-top: 10px;
    grid-area: 4 / 1 / span 1 / span 3;
    font-family: var(--ff-primary);
}

.follower-feed-post-pic{
    margin-top: 15px;
    width:100%;
    height: calc(100%-15px);
    object-fit: cover;
    grid-area: 5 / 1 / span 1 / span 3;
    border-radius: 7.5px;
}

.follower-feed-new-post-prof_pic{
    transition: .15s ease-in-out;
}

.follower-feed-post-prof_pic:hover {
    opacity: .75;
}

.follower-feed-new-post{
    /* position: sticky;
    position: -webkit-sticky;  */
    margin: auto;
    width: 100%;
    box-shadow: var(--elevation-1);
    background-color:rgba(255,255,255,0.95);
    border-radius: 7.5px;
    display:grid;
    /* grid-template-areas: "new-post-pic  new-post-user new-post-attach-image new-post-submit"
                            "new-post-pic  ............. ..................... ..............."
                            "new-post-body new-post-body new-post-body         ..............."; */
    grid-template-columns: 100px auto 150px 150px;
    grid-gap: 15px;
    grid-template-rows: 100px 200px;
    font-family: var(--ff-primary);
    padding: 15px;
    margin-bottom: 15px;
}

.follower-feed-new-post-pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    grid-area: 1 / 1 / span 1 / span 1;
    border-radius: 7.5px;
}

.follower-feed-new-post-name{
    font-size: var(--h2);
    font-family: var(--ff-primary);
    font-weight: 600;
    grid-area: 1/ 2 / span 1 / span 1;
}

.follower-feed-new-post-body{
    border: 1px solid var(--inactive-txt-clr);
    border-radius: 7.5px;
    padding: 10px;
    grid-area: 2 / 1 / span 2 / span 4;
    resize: none;
    font-family: var(--ff-primary);
}

.follower-feed-new-post-attach-image{
    grid-area: 1 / 3 / span 1 / span 1;
    background-color: var(--reversed-txt-clr);
    color: var(--accent-color-2);
    box-shadow: none;
    border: 2px solid var(--accent-color-2);
    border-radius: 7.5px;
    font-family: var(--ff-primary);
    font-size: var(--h3);
    font-weight: 400;
    /* margin: 10px; */
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.follower-feed-new-post-attach-image:hover{
    opacity: .75;
}


.follower-feed-new-post-submit{
    grid-area: 1 / 4 / span 1 / span 1;
    background-color: var(--primary-clr);
    color: var(--reversed-txt-clr);
    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    font-family: var(--ff-primary);
    font-size: var(--h3);
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.follower-feed-new-post-submit:hover{
    opacity: .75;
}


/* .follower-feed-new-post-expand-collapse{
    grid-area: 3 / 3 / span 1 / span 1;
    border: none;
    background-size: 20px 20px;
    background: url('../../images/Created\ Icons/Arrow.svg') 50% no-repeat;
    cursor: pointer; 
}
*/


@media all and (max-width: 876px){
    .follower-feed-post{
        width: 90%;
    }
}