.follower-feed-container{
    height: auto;
    margin-left: 0px;
    padding-left: 0px;
}
.follower-feed-header h1{
    margin-left: 15px;
    font-weight: 600;
}



.follower-feed-post{
    cursor: pointer;
    padding: 15px;
    display: grid;
    width: 50%;
    grid-template-areas:"follower-feed-post-prof_pic follower-feed-post-name follower-feed-post-like"
                        "follower-feed-post-prof_pic            .            follower-feed-post-likes"
                        "follower-feed-post-prof-pic follower-feed-post-timestamp follower-feed-post-comments"
                        "follower-feed-post-body follower-feed-post-body follower-feed-post-body"
                        "follower-feed-post-pic  follower-feed-post-pic follower-feed-post-pic";
    grid-template-columns: 100px auto 34px;
    grid-template-rows: repeat(3,34px) auto;
    box-shadow: var(--elevation-2);
    border-radius: 7.5px;
    margin: auto;
}

.follower-feed-post-prof_pic{
    
    width:100px;
    height:100px;
    object-fit: cover;
    grid-area: 1/ 1/ span 3 / span 1;
    border-radius: 7.5px;
}

.follower-feed-post-name{
    margin-left: 15px;
    grid-area: 1/ 2/ span 1 / span 1;
    font-size: var(--h2);
    font-family: var(--ff-primary);
    font-weight: 600;
}

.follower-feed-post-timestamp{
    margin-left: 15px;
    grid-area: 3/ 2 /span 1 / span 1;
}

.follower-feed-post-likes{
    grid-area: 2 / 3 / span 1 / span 1;
}

.follower-feed-post-like{
    border:none;
    background: url('../../images/Third\ Party\ Icons/icons8-thumbs-up-48.png') no-repeat;
    background-size: 34px 34px;
    grid-area: 1 / 3 / span 1 / span 1;
}

/* .follower-feed-post-comments{
    grid-area: 3 /  3 / span 1 / span 1;
} */

.follower-feed-post-body{
    margin-top: 10px;
    grid-area: 4 / 1 / span 1 / span 3;
}

.follower-feed-post-pic{
    margin-top: 15px;
    width:100%;
    height: calc(100%-15px);
    object-fit: cover;
    grid-area: 5 / 1 / span 1 / span 3;
}

.follower-feed-new-post{
    position: sticky;
    position: -webkit-sticky; 
    margin: auto;
    width: 50%;
    height: 200px;
    box-shadow: var(--elevation-1);
    background-color:rgba(255,255,255,0.95);
    border-radius: 7.5px;
    top: 0;
    display:grid;
    grid-template-areas: "new-post-body      new-post-body new-post-body            new-post-body          new-post-attach-image"
                         "new-post-body      new-post-body new-post-body            new-post-body                new-post-submit"
                         ".............      ............. new-post-expand-collapse ...................    .....................";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 90) 20;
}

.follower-feed-new-post-body{
    border: 1px solid var(--inactive-txt-clr);
    border-radius: 7.5px;
    margin: 10px;
    grid-area: 1 / 1 / span 2 / span 4;
    resize: none;
}

.follower-feed-new-post-attach-image{
    grid-area: 1 / 5 / span 1 / span 1;
    background-color: var(--reversed-txt-clr);
    color: var(--primary-clr);
    box-shadow: none;
    border: 1px solid var(--primary-clr);
    border-radius: 7.5px;
    font-family: var(--ff-primary);
    font-size: var(--h3);
    font-weight: 600;
    margin: 10px;
}

.follower-feed-new-post-submit{
    grid-area: 2 / 5 / span 1 / span 1;
    background-color: var(--primary-clr);
    color: var(--reversed-txt-clr);
    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    font-family: var(--ff-primary);
    font-size: var(--h3);
    font-weight: 600;
    margin:10px;
}

.follower-feed-new-post-expand-collapse{
    grid-area: 3 / 3 / span 1 / span 1;
    border: none;
    background-size: 20px 20px;
    background: url('../../images/Created\ Icons/Arrow.svg') 50% no-repeat;
    cursor: pointer;
}


@media all and (max-width: 834px){
    .follower-feed-post{
        width: 100%;
    }
}