.Profile {
    max-width: 1440px;
    margin: 30px auto 0;
}

.SwitchView {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    float: right;
    cursor: pointer;
}


.Bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

@media (max-width: 1600px) {
    .Profile {
        margin-left: 60px;
    }
}

@media (max-width: 800px) {
    .Bottom {
        flex-direction: column;
    }
}