.Profile {
    max-width: 1440px;
    margin: 30px auto 0;
}

.Bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

@media (max-width: 1600px) {
    .Profile {
        margin-left: 60px;
    }
}

@media (max-width: 1200px) {
    .Bottom {
        flex-direction: column;
    }
}