.tabContainer {
  margin: left;
  width: 50%;
  background-color: "white";
  color: "black";
  display: flex;
}

.cardContainer {
  max-width: 100%;
  margin: 30px auto;
  font-family: var(--ff-primary);
  overflow-x: hidden;
}

.Tabs {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
