.upc-tabs {
}

.upc-tab {
}

.upc-tabs .nav-tabs .nav-link {
  background-color: aquamarine !important;
}

.container {
  display: flex;
}

.eu-card-img {
  width: 52px !important;
  height: 52px !important;
  object-fit: cover !important;
  border-radius: 10px !important;
}
