.Container {
    display: flex;
}

.Reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 162px;
    height: 162px;
    border-radius: 15px;
    justify-content: space-between;
    margin-right: 10px;
    box-shadow: var(--elevation-1);
}

.Reviews textarea, .Reviews textarea:read-only {
    resize: none;
    overflow: hidden;
    border: none;
    outline: none;
}

.ReviewStack {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
