@import url('https://www.w3schools.com/w3css/4/w3.css');

.searchbar{
  display:flex;
  flex-direction: row;
  box-shadow: var(--elevation-1);
  border-radius:10px;
  text-align: center;
  align-items: center;
  font-family: var(--ff-primary);
  flex-shrink: 2;
  justify-content: space-between;
}

.searchbar input{
  border: none;
  flex-grow:2;
  font-size: 1.5em;
  text-overflow: ellipsis;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

.search-category-dropdown select{
  background-color: var(--reversed-txt-clr);
  border: none;
  border-radius:10px;
  font-size: 2em;
  margin-left:10px;
  padding-right: 20px;
  background: url("../../images/Created\ Icons/Dropdown.svg") no-repeat right;
  margin-right: 10px;
  cursor: pointer;
}

.searchbar-search{
  width: 50px;
  height: 50px;
  background: url("../../images/Third\ Party\ Icons/icons8-search-location-48.png") no-repeat;
}



@media all and (max-width: 1280px){
  .searchbar{
    width: 100%;
    height: 50px;
  }
  .search-category-dropdown select{
      font-size: var(--h4);
      background-size: 10px 10px;
      padding-right: 10px;
  }

  .searchbar input{
    font-size: 1em;
    width:100% !important;
    margin: 0;
  }

  .searchbar-search{
  }
}
