@import url('https://www.w3schools.com/w3css/4/w3.css');

button, select, height{
  height:35px;
}

* {
    box-sizing: border-box;
}
.search_and_search_results_container {
    text-align: center;
    width: 100%;
    height: 90px; /* Need to be changed to be flexable - note by Wameedh*/
    padding: 0 0 0 0;
}

.search-category-dropdown {
    display: inline-block;
    width: 23%;
    height: 50%;
} 


/* TESTING*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: &#9660; */
  }

/* END------------*/

select:focus {
    outline: none; 
  }

#search-category {
    width: 100%;
    height: 100%;
    font-size: 17px;
    margin-top: 8px;
    /* border-right: 3px solid black; */
    border: none;
    background: #FFF8F8;
    text-align: center;
    color: #6d6e41;
    padding-left: 5px;
    background: url("../../images/PNGIX.com_north-arrow-png_562032.png")  96% / 10% no-repeat #FFF8F8;
}

.navbar-searchbar button {
    display: inline-block;
    width: 7%;
    height: 50%;
    border: none;
 
    background-color: #AFBCB5;
    text-align: center;
    color: #6d6e41;
    border-radius: 0 5px 5px 0;
    padding: 16px;
    cursor: pointer;
    font-size: 17px;
    background: url("../../images/icons8-search-location-96\(1\)\ 1.png")  50% no-repeat #AFBCB5;
}
.search_and_search_results_container input[type=text] {
    display: inline-block;
    width: 70%;
    height: 50%;
    /* border-bottom: 1px solid #546747; */
    border-top: none;
    border-radius: 0;
    /* border-left: 3px solid #546747;; */
    /* border-bottom: none; */
    outline: none;
    color: #546747;
    background-color: #AFBCB5;
    padding: 6px;
    margin: 8px 0 auto 0;
    font-size: 17px;
    /* FFF8F8 */
    /* background: url("../images/Vector.png")  99% no-repeat #FFF8F8; */
  }


.search-results-overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1001;
  }

  .modal-main {
    position:fixed;
    padding: 20px 20px 30px 20px;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

.modal-main ul li span {
    display:inline;
    float: left;
    margin:0 15px auto 5px;
    font-size: 20px;
    text-align: left;
    line-height: 1.6;
    top: 0;
}
.modal-main ul li img {
    float: left;
    display:inline;
    margin-right: 2%;
}
.clearfix {
  padding: 5px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.search-results-overlay ul{
    list-style: none;
    overflow: auto;
    padding: 20px;
}

.search-results-overlay img{
  width: 100px;
  height:100px;
  object-fit: cover;
}

.search-results-overlay li{
  border: 1px solid black;
  padding: 25px;
  margin:auto 0 10px 0;
}

.search-results-overlay li span{
  margin-left: 50px;
}


.center {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.overlay-button {
    width: 100%;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    font-size: 17px;
}
