@import url('https://www.w3schools.com/w3css/4/w3.css');

/* button, select, height{
  height:35px;
} */

/* * {
    box-sizing: border-box;
} */

.searchbar{
  display:flex;
  flex-direction: row;
  box-shadow: var(--elevation-1);
  border-radius:10px;
  text-align: center;
  align-items: center;
  font-family: var(--ff-primary);
}

.searchbar input{
  border: none;
  flex-grow:2;
  font-size: 1.5em;
  text-overflow: ellipsis;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

.search-category-dropdown select{
  background-color: var(--reversed-txt-clr);
  border: none;
  border-radius:10px;
  font-size: 2em;
  margin-left:10px;
  padding-right: 20px;
  background: url("../../images/Created\ Icons/Dropdown.svg") no-repeat right;
  margin-right: 10px;
  cursor: pointer;
}

.searchbar .searchbar-search{
  width: 50px;
  height: 50px;
  background: url("../../images/Third\ Party\ Icons/icons8-search-location-48.png") 100% no-repeat;
}

.search-results ul li{
  list-style: none;
  display: block;
  box-shadow: var(--elevation-1);
  width: 95%;
  margin-bottom: 25px;
  padding: 10px 0 10px 10px;
  border-radius: 10px;
}

.search-results li img{
  width: 100px;
  height:100px;
  object-fit: cover;
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;

}

.search-results span {
  display:inline-block;
  margin:0 15px auto 5px;
  font-size: 20px;
  text-align: left;
  line-height: 1.6;
  top: 0;
  font-family: var(--ff-primary);
  font-weight: 600;
}

.search-result{
  display: block;
}