@import url('https://www.w3schools.com/w3css/4/w3.css');

/* button, select, height{
  height:35px;
} */

/* * {
    box-sizing: border-box;
} */

.searchbar{
  display:flex;
  flex-direction: row;
  box-shadow: var(--elevation-1);
  border-radius:10px;
  text-align: center;
  align-items: center;
  font-family: var(--ff-primary);
}

.searchbar input{
  border: none;
  flex-grow:2;
  font-size: 1.5em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

.search-category-dropdown select{
  background-color: var(--reversed-txt-clr);
  border: none;
  border-radius:10px;
  font-size: 2em;
  margin-left:10px;
  background: url("../../images/Created\ Icons/Dropdown.svg") no-repeat right;
  margin-right: 10px;
  cursor: pointer;
}

.searchbar button{
  width: 50px;
  height: 50px;
  background: url("../../images/Third\ Party\ Icons/icons8-search-location-48.png") 100% no-repeat;
  transform: none;
}

.search-results ul li{
  list-style: none;
  display: block;
  box-shadow: var(--elevation-1);
  width: 95%;
  margin-bottom: 25px;
  padding: 10px 0 10px 10px;
  border-radius: 10px;
}

.search-results li img{
  width: 100px;
  height:100px;
  object-fit: cover;
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;

}

.search-results span {
  display:inline-block;
  margin:0 15px auto 5px;
  font-size: 20px;
  text-align: left;
  line-height: 1.6;
  top: 0;
  font-family: var(--ff-primary);
  font-weight: 600;
}

.search-result{
  display: block;
}







/*#search-category {
    width: 100%;
    height: 100%;
    font-size: 17px;
    margin-top: 8px;
    border: none;
    background: #FFF8F8;
    text-align: center;
    color: #6d6e41;
    padding-left: 5px;
    background: url("../../images/PNGIX.com_north-arrow-png_562032.png")  96% / 10% no-repeat #FFF8F8;
}

.navbar-searchbar button {
    display: inline-block;
    width: 7%;
    height: 50%;
    border: none;
 
    background-color: #AFBCB5;
    text-align: center;
    color: #6d6e41;
    border-radius: 0 5px 5px 0;
    padding: 16px;
    cursor: pointer;
    font-size: 17px;
    background: url("../../images/icons8-search-location-96\(1\)\ 1.png")  50% no-repeat #AFBCB5;
}

.search_and_search_results_container input[type=text] {
    display: inline-block;
    width: 70%;
    height: 50%;
    outline: none;
    border: none;
    color: var(--inactive-txt-clr);
    background-color: var(--reversed-txt-clr);
    padding: 6px;
    margin: 8px 0 auto 0;
    font-size: 17px;
    box-shadow: var(--elevation-1);
    border-radius: 10px;
  }

  .clearfix {
  padding: 5px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



.search-results-overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1001;
  }

  .modal-main {
    position:fixed;
    padding: 20px 20px 30px 20px;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

.modal-main ul li span {
    display:inline;
    float: left;
    margin:0 15px auto 5px;
    font-size: 20px;
    text-align: left;
    line-height: 1.6;
    top: 0;
}
.modal-main ul li img {
    float: left;
    display:inline;
    margin-right: 2%;
}


.search-results-overlay ul{
    list-style: none;
    overflow: auto;
    padding: 20px;
}

.search-results-overlay img{
  width: 100px;
  height:100px;
  object-fit: cover;
}

.search-results-overlay li{
  border: 1px solid black;
  padding: 25px;
  margin:auto 0 10px 0;
}

.search-results-overlay li span{
  margin-left: 50px;
}


.center {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.overlay-button {
    width: 100%;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    font-size: 17px;
} */
