.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7.5px;
    z-index: 1;
    width: 35%;
    height: 550px;
    box-shadow: var(--elevation-1);
    margin: 12% auto auto auto;
    grid-column: 2/span 1;
}


.login-header{
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: var(--h1);
    margin-top: 25px;
}

.username-input-label, .password-input-label{
    display: block;
}

.username-input-label,
.password-input-label{
    font-size: var(--h3);
    font-family: var(--ff-primary);
}

.username-input-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.password-input-container{
    margin-bottom: 10px;
}

.forgot-password{
    color: var(--inactive-txt-clr);
    margin-bottom: 50px;
}

.create-account-link{
    color: var(--primary-txt-clr);
    margin-bottom: 25px;
    font-family: var(--ff-primary);
}

.username-input-container input,
.password-input-container input{
    padding: 10px;
    display: block;
    border: none;
    border: 1px solid var(--inactive-txt-clr);
    border-radius: 7.5px;
    width: 100%;
}

.btn-container {
    text-align: center;
}

.checkbox {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 20px;
}

.forgot-password {
    margin-left: 15px;
    float: left;
}

.create-account {
    margin-right: 15px;
    float: right;
}

.submit-btn{
    width: 250px;
    height: 50px;
    text-justify: center;
    text-align: center;
    color: white;
    background-color: var(--primary-clr);
    font-size: var(--h3);
    font-family: var(--ff-primary);

    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 7.5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.checkbox{
    padding:15px;
}

@media (max-width: 1024px){
    .login-container {
        width: 50%;
    }
}

@media (max-width: 414px){
    .login-container{
        width: 90%;
    }
}


