.edit-address-header{
    margin: 60px;
    font-size: var(--h1);
    font-family: var(--ff-tertiary);
}

.edit-address-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-address-submit{
    margin: 30px auto;
    background-color: var(--primary-clr);
    font-size: var(--h3);
    line-height: 32px;
    padding:5px 0px;
    color: white;
    border: none;
    border-radius: 7.5px;
    box-shadow: var(--elevation-1);
    cursor: pointer;
    width: 50%;
}