.modal{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;
   height:80%;
   width:80%;
   background-color: var(--reversed-txt-clr);
   box-shadow: var(--elevation-10);
   border-radius: 10px;
   overflow: hidden;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.exit-button{
    position: absolute;
    right:10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: url("../../images/Created\ Icons/Exit-Cancel.svg") 50% no-repeat;
    border: none;
    cursor: pointer;
}