.sendAMessage-header{
    margin-left: 30px;
    font-weight: 600;
}

.sendAMessage-body{
    margin-top:20px;
    width: 100%;
    min-height: 500px;
    resize: none;
    border-radius: 7.5px;
    border: 1px solid var(--inactive-txt-clr);
    padding: 10px;
}

.sendAMessage-sendButton{
    background-color: var(--primary-clr);
    margin: 20px 0;
    color: white;
    padding:0 25px 0 25px;
    border: none;
    border-radius: 7.5px;
    box-shadow: var(--elevation-1);
    cursor: pointer;
    font-family: var(--ff-primary);
    text-align: center;
    align-self: flex-end;
    line-height: 32px;
}

.sendAMessage-sendButton h4{
    font-family: var(--ff-primary);
    font-weight: 600;
}


.send-a-message-container{
    display: flex;
    flex-direction: column;
    width: 750px;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
}