.search_and_search_results_container{
    
}

.search-results-overlay{
    background-color: yellow;
    width: 100%;
    z-index: 100;
}

.search-results-overlay ul{
    list-style: none;
}

.search-results-overlay button{
    justify-self: center;
}
