.eu-card-img {
  width: 52px !important;
  height: 52px !important;
  object-fit: cover !important;
  border-radius: 10px !important;
}

.eu-card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) !important;
  border: 0px solid transparent !important;
  border-radius: 12px !important;
}

.eu-results-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

