.Text {
    direction: rtl;
    vertical-align: middle;
    white-space: nowrap;
    color: var(--inactive-txt-clr);
    transform: rotate(-90deg);
    transition: .15s ease-in-out;
}

.Text:hover{
    color: black;
}

.Tag {
    width: 38px;
    height: 125px;
    box-shadow: var(--elevation-1);
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    background-color: var(--reversed-txt-clr);
}


.ActiveText {
    color: var(--primary-txt-clr);
}

.ActiveTag {
    box-shadow: -2px 1px 1px 0 rgba(0,0,0,0.14), -2px 2px 1px -1px rgba(0,0,0,0.12), -2px 1px 3px 0 rgba(0,0,0,0.20);;
    z-index: 1;
    background-color: var(--reversed-txt-clr);
}
