.navbar-right .login-link{
    color: var(--primary-txt-clr);
    text-decoration: none;

}

.navbar-right .login-link h2{
    font-family: var(--ff-primary);
    font-weight: 600;
}


.messages-menu{
    border:none;
    background-color: transparent;
    font-size: var(--h2);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    cursor:pointer;
    text-decoration: none;
    /* background: url('../../images/Created\ Icons/Messages.svg') no-repeat; */
}

.account-menu-dropdown{
    overflow: hidden;
}
.account-menu-dropdown-button{
    border: none;
    background-color: transparent;
    font-size: var(--h2);
    
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    cursor:pointer;
    /* background: url('../../images/Created\ Icons/Account.svg') no-repeat; */
}


.account-menu-dropdown-content{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.4s ease;

    margin-top: 0px;
    list-style: none;
    border-radius: 7.5px;
    position:absolute;
    right: 10px;
    background-color: white;
    min-width:160px;
    box-shadow: var(--elevation-1);
    z-index: 1;
}

.account-menu-dropdown-link{
    padding-right:10px;
    float:none;
    display: block;
    text-align: right;
    text-decoration: none;
    font-size:var(--h2);
    cursor: pointer;
}

.account-menu-dropdown-link:hover{
    color: var(--primary-clr);
}

.account-menu-dropdown-button:focus + ul{
    opacity:1;
    visibility: visible;
    transform: translateY(0px);
}