@import url('https://www.w3schools.com/w3css/4/w3.css');

.navbar{
    display: grid;
    height: 100px;
    align-items: center;
    position: relative;

    grid-template-columns: 100px 50px auto 110px 110px;
    column-gap: 50px;
    padding-left: 25px;
    padding-right: 25px;
    /* background-color: var(--nav-bar-color); */
    /* box-shadow: var(--elevation-2); */
    z-index:2;
}

.logo-img{
    height: 50px;
    transition: .15s ease-in-out;
}

.logo-img:hover{
    opacity: .75;
}

.logo-img-inactive{
    height: 50px;
    cursor: default;
}

.login-link{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: var(--h2);
    /* color: var(--accent-color-1); */
    text-align: center;
    grid-column: 5 / span 1;
    border: 2px solid var(--primary-clr);
    color: var(--primary-clr);
    background: transparent;
    border-radius: 15px;
    transition: 0.5s ease;
    cursor:pointer;
}

.login-link:hover{
    background-color:var(--primary-clr);
    color: var(--reversed-txt-clr);
    font-weight: 600;
}


.messages-menu{
    border:none;
    background-color: transparent;
    font-size: var(--h2);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    cursor:pointer;
    text-decoration: none;
    grid-column: 4 / span 1;
    width: 110px;
    height: 75px;
    /* background: url('../../images/Created\ Icons/Messages.svg') 50% no-repeat; */
    background-size: 50px 50px;
    line-height: 75px;
    color: var(--accent-color-2);
    transition: .15s ease-in-out;
}

.messages-menu:hover{
    color: var(--primary-clr);
}

.account-menu-dropdown{
    grid-column: 5 / span 1;
    overflow: hidden;
}
.account-menu-dropdown-button{
    width: 110px;
    height: 75px;
    /* background: url('../../images/Created\ Icons/Account.svg') 50% no-repeat; */
    background-size: 50px 50px;
    border: none;
    background-color: transparent;
    font-size: var(--h2);
    
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    cursor:pointer;
    color: var(--accent-color-2);
    line-height: 75px;
    /* background: url('../../images/Created\ Icons/Account.svg') no-repeat; */
    transition: .15s ease-in-out;
}

.account-menu-dropdown-button:hover{
    color: var(--primary-clr);
}


.account-menu-dropdown-content{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    

    margin-top: 0px;
    list-style: none;
    border-radius: 7.5px;
    position:absolute;
    right: 10px;
    background-color: white;
    box-shadow: var(--elevation-1);
    z-index: 1;
}

.account-menu-dropdown-link{
    padding-right:10px;
    float:none;
    display: block;
    text-align: right;
    text-decoration: none;
    font-size:var(--h2);
    cursor: pointer;
    border: none;
    background: transparent;
    font-family: var(--ff-tertiary);

}

.account-menu-dropdown-link:hover{
    color: var(--primary-clr);
}

.account-menu-dropdown-button:focus + ul{
    opacity:1;
    visibility: visible;
    transform: translateY(0px);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

.search-category-dropdown select{
  background-color: var(--reversed-txt-clr);
  border: none;
  border-radius:10px;
  font-size: 2em;
  padding-left:10px;
  padding-right: 25px;
  background: url("../../images/Created\ Icons/Dropdown.svg") no-repeat right;
  cursor: pointer;
  font-family: var(--ff-tertiary);
}

.searchbar{
    display:flex;
    flex-direction: row;
    box-shadow: var(--elevation-2);
    border-radius:10px;
    text-align: center;
    align-items: center;
    font-family: var(--ff-secondary);
    flex-shrink: 2;
    background-color: white;
    grid-column: 3 /span 1;
    margin: 0 auto;
    width: 700px;
  }
  
  .searchbar input{
    border: none;
    flex-grow:2;
    font-size: 1.5em;
    text-overflow: ellipsis;
    width: 435px;
    margin-left:15px;
  }

/* Searchbar button */
.searchbar-search {  
  width: 50px;
  height: 50px;
  display:inline-flex;
  border: none;
  padding: 0;
/* padding-left: 20%;
padding-bottom: 10%; */
  /* background-size: 100%; */
  background: url("../../images/Created\ Icons/Search.svg") 50% no-repeat;
  margin-left:auto;
  transition: .15s ease-in-out;
}

.searchbar-search:hover{
    opacity:.75;
}


/* tablet */
/* @media all and (max-width: 1280px){
    .navbar{
        height: auto;
        display: grid;
        grid-template-rows: 110px 75px;
        grid-template-columns: auto auto 75px 75px;
      
    }

    .logo-img{
        grid-area: 1 / 1 / span 1 / span 1;
      
    }

    .messages-menu{
        grid-area: 1 / 3 / span 1 / span 1;
        width: 50px;
        height: 50px;
      
        background: url('../../images/Created\ Icons/Messages.svg') no-repeat;
    }

    .account-menu-dropdown{
        grid-area: 1 / 4 / span 1 / span 1;
    }

    .account-menu-dropdown-button{
        width: 50px;
        height: 50px;
        background: url('../../images/Created\ Icons/Account.svg') 50% no-repeat;
    }
} */


.combobox-popover{
    background-color: white;
    padding: 15px;
    list-style: none;
    box-shadow: var(--elevation-1);
    font-family: var(--ff-primary);
    z-index: 1;
    border-radius: 7.5px;
    position: relative;
}

.combobox-popover li{
    cursor:pointer;
    padding:5px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

.combobox-popover li:hover{
    color: var(--primary-clr)
}




