  .site-demo2-container {
    display: flex;
    width: 100%;
    height: 576px;
    border: none;
    background-color: var(--site-preview-2-container-color);
  }

  .left-side{
    width: 50%;
  }

  .left-side-map{
    height:576px;
    float:left;
  }

.site-demo2-button {
  width: 195px;
  height: 62px;
  background-color: var(--accent-color-1);
  color: var(--accent-color-2);
  border: 2px solid var(--accent-color-1);
  box-shadow: var(--elevation-1);
  border-radius: 7.5px;
  cursor: pointer;
  font-size: var(--h5);
  font-weight: 600;
  font-family: var(--ff-primary);
  margin-top: 50px;
}

.site-demo2-button:hover{
  transition: 0.15s;
  transform: translateY(-4px);
}

.right-side{
  width: 50%;
  padding-right: 200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.right-side-text{
  text-align: right;
  float: right;
  font-size: var(--h1);
  font-family: var(--ff-tertiary);
  display: flex;
  flex-direction: column;
  align-items: flex-end
}